/*  GENERAL STYLE // ESTILOS GERAIS: */
.flex{
    display: flex;
}
.row-wrap{
    flex-flow: row wrap;
}
.column{
    flex-direction: column;
}
.darkMode{
    background: black;
    color: white;
}
/* ADMINISTRADORES / ADMIN: */
.inputVariables{
    width: 70px;
}
/* CLIENTES / CLIENT: */
/* ENTREGADORES / DELIVERYMAN: */