@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Racing+Sans+One&family=Righteous&display=swap');
/* font-family: 'Audiowide', cursive;
font-family: 'Racing Sans One', cursive;
font-family: 'Righteous', cursive; */
/*  GENERAL STYLE // ESTILOS GERAIS: */
body{
    margin: 0;
    width: 100%;
    height: 100vh;
    /* background: #121212; */
    /* color: white; */
}
label{
    color: #DDDDDD;
}
input{
    color: #DDDDDD;
    border-radius: 8px;
    background: rgba(85, 85, 85,.5);
    border: 2px solid transparent;
    transition: .7s;
}
input:hover{
    background: rgba(85, 85, 85,.9);
}
.hidden{
    display: none;
}
.pointer{
    cursor: pointer;
}
/* FLEX: */
.flex{display: flex;}
.row{flex-direction: row;}
.column{flex-direction: column;}
.flex-row{display: flex;  flex-direction: row;}
.flex-column{display: flex;  flex-direction: column;}
.spaced-around{justify-content: space-around;}
.spaced-between{justify-content: space-between;}
.flex-vertical-centered{align-self: center;}
.flex-horizontal-centered{justify-content: center;}
.row-wrap{flex-flow: row wrap;}
/* TEXT: */
.text-white{color: white;}
.text-red{color: darkred;}
.text-green{color: rgb(42, 196, 106);}
.text-centered{text-align: center;}
/* THEME: */
.darkMode{background: black;color: white;}
.lightMode{background: white;color: black;}
/* CONNECT: */
.homeHeader{
    position: fixed;
    background: rgba(18, 18, 18, .9);
    height: 100px;
    width: 100vw;
    justify-content: right;
    align-items: center;
}
.homeHeader>img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.signOptions{
    background: beige;
    width: 300px;
    /* font-family: 'Racing Sans One', cursive; */
    /* font-family: 'Audiowide', cursive; */
    font-family: 'Righteous', cursive;
}
.signButtons{
    background: orange;
}
.signButtons>button{
    border: 4px solid transparent;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    transition: .7s;
}
.btnSignIn{
    background: #f1f1f1;
    color: #121212;
    width: 80px;
}
.btnSignUp{
    background: #00ffcc;
    width: 120px;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}
.loginForm {
    position: absolute;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    width: 300px;
    min-height: 400px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
}
.content{
    margin-top: 100px;
    background: lightblue;
}
.features{
    bottom: 0;
    color: white;
    background: gray;
    width: 100vw;
}
.feature{
    min-width:200px;
    width: 300px;
    min-height: 300px;
    height: 400px;
    margin: 20px;
    background: darkgrey;
}
.services{
    position: relative;
    height: 400px;
}
.serviceImage{
    width: 40%;
    margin: 20px;
}
.service2{
    position: relative;
}
.serviceDetails{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    color: #FFF;
    background-color: rgba(50, 50, 50, 0.7);
}
.background{
    filter: brightness(50%);
    height: 200px;
}
.socialMedia{
    width: 100vw;
    justify-content: space-around;
    bottom: 0;
}
.socialMedia>a{
    background: #121212;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* ADMINISTRADORES / ADMIN: */
.inputVariables{
    width: 70px;
}
/* CLIENTES / CLIENT: */

/* ENTREGADORES / DELIVERYMAN: */
.profileDeliveryman{
    height: 500px;
    width: 200px;
    background: beige;
    position: relative;
}
.profilePhotoStatus{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profilePic{
    width: 150px;
    height: 150px;
    border: 4px solid transparent;
    border-radius: 50%;
    transition: 0.4s;
}
.profilePic>img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profilePic:hover{
    border: 4px solid white;
}
.statusDeliveryman{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background:  #121212;
    position: relative ;
    bottom: 30px;
    left: 100px;
}
.stat{
    background: rgba(25,25,25,1);
    margin: 5px;
    color: wheat;
    width: 100px;
    height: 40px;
}
.mobileView{
    height: 100px;
    position: fixed;
    bottom: 0;
}
.mobileView>button{
    width: 50px;
    height: 30px;
}